body {
	margin: auto;
	font-family: "Noto Sans";
}

header {
	background-color: #F4F2DE;
	text-align: center;
		
}


.testata {
	/* Proprietà Bootstrap per avere logo e testo sulla stessa riga */
	display: flex;
	align-items: center;

}

.logo-testata {
	margin-right: 11%;
	padding:10px;
}


.testo-testata {
	color: brown;
	font-family: Oswald;
	letter-spacing: 4px;
	text-transform: uppercase;

}


h1 {
	
	
}


h2 {
	text-align: center;
	color: #445D48;

}


h3 {
	text-align: center;
	color: #0E2954;
	font-family: Oswald;
	padding-top: 10px;
	padding-bottom: 20px;

}


.testo-nav, .testo-footer {
	color: antiquewhite;
	text-align: center;
	padding: 15px;
}


.testo-nav {
	letter-spacing: 4px;
	word-spacing: 3px;

}


nav, footer {
	background-color: #82A0D8;	

}


div {

}

h5.carousel {
	font-family: Oswald;
	letter-spacing: 4px;
	text-transform: uppercase;
	padding-bottom: 20px;
	font-size: 50px;

}

p.carousel {
	font-family: Oswald;
	letter-spacing: 2px;
	font-size: 20px;

}


.carousel-item img {
	height: 500px;
		
}


.carousel-caption {
	background-color: black;
	color: #f5f5dc;
	opacity: 0.6;
	left: 0;
	right: 0;
	width: 100%;

}


.progetto {
	background-color: #94A684;
	padding: 10px;
	
}


.testo-progetto {
	text-align: center;
	color: #0E2954;
	margin-left: 15%;
	margin-right: 15%;

}


.esplorazione {
	background-color: #FAF8ED;
	padding: 30px;

}


.sottotesto-esplorazione {
	text-align: center;
	color: #99B080;
	font-size: 110%;	
	margin-bottom: 30px;

}

/* pseudo-elemento WEBKIT-SCROLLBAR per modificare lo stile della scrollbar */
::-webkit-scrollbar {
  height: 5px;
  width: 15px;

}

::-webkit-scrollbar-thumb {
  background: darkgrey;
  border-radius: 10px;

 }

::-webkit-scrollbar-thumb:hover {
  background: #8c8c8c; 
}


.overflow-auto {
	display: flex;
	gap: 2rem;

}

.col {
	padding-bottom: 10px;
}


.card {
	width: 15rem;

}

/* Modifiche CSS per avere un testo visibile all'hover sulla card*/
.card-content {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7); /* Sfondo scuro con opacità */
  color: white; 
  font-family: Oswald;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;  
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
}



.card:hover, .card-content:hover {
	opacity: 1;
}



.border {
	padding: 5px 20px;
}



.descrizione-crediti {
	background-color: white;
	text-align: center;
	padding: 10px;
}



a:link, a:visited {
	text-decoration: none;
	color: antiquewhite;
}


a:hover {
	text-decoration: none;
	color: grey;
}

a.pagina-attiva:link, a.pagina-attiva:visited, a.pagina-attiva:hover {
	text-decoration: none;
	color: #333333;
}


a.bio:link, a.bio:visited, a.linea-tempo:link, a.linea-tempo:visited, a.temi:link, a.temi:visited {	
	text-decoration: underline;
	color: white;

}


a.DH:link, a.DH:visited {
	text-decoration: none;
	color: antiquewhite;

}

a.DH:hover {
	color: #f1c68e;
}

a.testo-crediti:link, a.testo-crediti:visited {
	color: grey;
}

a.testo-crediti:hover {	
	color: black;
}







